
body {
    background-color: rgb(211, 228, 255);
}

.inicio { 
    height: 50px;
    padding: 10px;
}

.icon {
    font-size: 30px;
    margin: 40px;
    position: relative;
    right: -50px;
}

.inves h2{
    position: relative;
    top: -120px;
    right: -230px;
    font-weight: 400;
    word-spacing: 100px;
    letter-spacing: 5px;
}

.home {
    font-size: 10px;
    position: relative;
    top: 200px;
    right: -200px;
}

#serv {
    font-size: 12px;
    position: relative;
    top: 183px;
    right: -256px;
}

.seta1 {
    position: relative;
    top: 148px;
    right: -230px;
    font-size: 12px;
}

#inv {
    font-size: 12px;
    position: relative;
    top: 132px;
    right: -356px;
}

.seta2 {
    position: relative;
    top: 98px;
    right: -330px;
    font-size: 12px;
}

.selecao p {
    font-size: 25px;
    width: 300px;
    position: relative;
    top: 210px;
    right: -200px;
    word-spacing: 100px;
    letter-spacing: 5px;
}

.container {
    position: relative;
    top: 300px;
    
}



